{% for goal in goals %}
    <article class="item {% if goal.is_done %}done{% endif %}">
        <div class="item-title">{{ goal.title }}</div>
        <p class="meta">{{ goal.week_start_date|date:"Y年n月j日" }}の週</p>
        <div class="actions">
            <a class="button" href="{% url 'goals:toggle_done' 'weekly' goal.pk %}">
                {% if goal.is_done %}未達成に戻す{% else %}達成済みにする{% endif %}
            </a>
            {% if show_actions %}
                <a class="button" href="{% url 'goals:weekly_goal_edit' goal.pk %}">編集</a>
                <a class="button danger" href="{% url 'goals:weekly_goal_delete' goal.pk %}">削除</a>
            {% endif %}
        </div>
    </article>
{% empty %}
    <p class="notice">まだ週TODOがありません。</p>
{% endfor %}
